$animation-duration: 1.6s;

@mixin background-gradient {
    background-image: linear-gradient(90deg, var(--card-sk-base-color) 0px, var(--card-sk-shine-color) 40px, var(--card-sk-base-color) 80px);
    background-size: 600px;
}

.breed-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--card-bg-color);
    font-size: 18px;
    margin: 45px 35px;
    max-width: 250px;
    min-width: 250px;
    height: 150px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.2s ease-in 0s;

    &:hover {
        background-color: var(--card-hover-bg-color);
    }

    .b-name {
        margin-top: auto;
        margin-bottom: auto
    }

    .b-sb-count {
        align-self: flex-end;
        font-size: 10px;
        margin: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: #5343ff;
        border-radius: 5px;
    }
}

.skeleton {
    @include background-gradient;
    animation: shine-lines $animation-duration infinite linear;
}

@keyframes shine-lines {
    0% {
        background-position: -100px
    }

    40% {
        background-position: 140px
    }

    100% {
        background-position: 200px
    }
}